.vscode
*.s
*.o
*.i
*.pyc
node_modules
aws/S3

algorithms/sorting/bubble_sort
algorithms/sorting/insertion_sort
algorithms/sorting/selection_sort

languages/C/extern/main
languages/C/language/main
languages/C/preprocessor/main